# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Coverage directory used by Jest
coverage/

# System files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Babel cache
babel-cache/

# Mac system files
*.DS_Store
